{
displayStrings = (
belin,
"Frase evocativa, enunciativa di un concetto o di un elaborato. Accessibilità delle Informazioni wants to say something very important ragga. ",
"VIAGGIO INTORNO
AL SOLE
PERCORSO DI CO-PROGETTAZIONE
PER UNA PICCOLA RIVOLUZIONE DI PERIFERIA

VIAGG/I.ss04 O INTORNO
AL SOLE
/P.ss01 ERCORSO DI /C.ss04/O.ss01 -/P.ss01 ROGE/T.ss01 TAZION/E.ss03 
PER UNA PICCOLA /R.ss02 IVOL/U.ss02 ZIO/N.ss02 E DI PERI/F.ss01 ERIA





",
Rijk,
"Adacsì
ADACSÌ",
"Zz/z.ss01/z.ss02",
"Z/Z.ss01/Z.ss02 z/z.ss01/z.ss03/z.ss02",
"Benvenutə!",
"Attori'",
"/wavingBlackFlag_zerowidthjoiner_skullAndCrossbones_VS16",
"/skullAndCrossbones_VS16",
"via/g.ss04 gio"
);
}
