<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.ss01</key>
    <string>A_.ss01.glif</string>
    <key>A.ss02</key>
    <string>A_.ss02.glif</string>
    <key>A.ss03</key>
    <string>A_.ss03.glif</string>
    <key>A.ss04</key>
    <string>A_.ss04.glif</string>
    <key>A.ss05</key>
    <string>A_.ss05.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.ss01</key>
    <string>B_.ss01.glif</string>
    <key>B.ss02</key>
    <string>B_.ss02.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.ss01</key>
    <string>C_.ss01.glif</string>
    <key>C.ss02</key>
    <string>C_.ss02.glif</string>
    <key>C.ss03</key>
    <string>C_.ss03.glif</string>
    <key>C.ss04</key>
    <string>C_.ss04.glif</string>
    <key>C.ss05</key>
    <string>C_.ss05.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>D.ss01</key>
    <string>D_.ss01.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.ss01</key>
    <string>E_.ss01.glif</string>
    <key>E.ss02</key>
    <string>E_.ss02.glif</string>
    <key>E.ss03</key>
    <string>E_.ss03.glif</string>
    <key>E.ss04</key>
    <string>E_.ss04.glif</string>
    <key>E.ss05</key>
    <string>E_.ss05.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>F.ss01</key>
    <string>F_.ss01.glif</string>
    <key>F.ss02</key>
    <string>F_.ss02.glif</string>
    <key>F.ss03</key>
    <string>F_.ss03.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.ss01</key>
    <string>G_.ss01.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.ss01</key>
    <string>H_.ss01.glif</string>
    <key>H.ss02</key>
    <string>H_.ss02.glif</string>
    <key>H.ss03</key>
    <string>H_.ss03.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.ss01</key>
    <string>I_.ss01.glif</string>
    <key>I.ss02</key>
    <string>I_.ss02.glif</string>
    <key>I.ss03</key>
    <string>I_.ss03.glif</string>
    <key>I.ss04</key>
    <string>I_.ss04.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>J.ss01</key>
    <string>J_.ss01.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>K.ss01</key>
    <string>K_.ss01.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.ss01</key>
    <string>L_.ss01.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.ss01</key>
    <string>M_.ss01.glif</string>
    <key>M.ss02</key>
    <string>M_.ss02.glif</string>
    <key>M.ss03</key>
    <string>M_.ss03.glif</string>
    <key>M.ss04</key>
    <string>M_.ss04.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.ss01</key>
    <string>N_.ss01.glif</string>
    <key>N.ss02</key>
    <string>N_.ss02.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.ss01</key>
    <string>O_.ss01.glif</string>
    <key>O.ss02</key>
    <string>O_.ss02.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.ss01</key>
    <string>P_.ss01.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q.ss01</key>
    <string>Q_.ss01.glif</string>
    <key>Q.ss02</key>
    <string>Q_.ss02.glif</string>
    <key>Q.ss03</key>
    <string>Q_.ss03.glif</string>
    <key>Q.ss04</key>
    <string>Q_.ss04.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.ss01</key>
    <string>R_.ss01.glif</string>
    <key>R.ss02</key>
    <string>R_.ss02.glif</string>
    <key>R.ss03</key>
    <string>R_.ss03.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.ss01</key>
    <string>S_.ss01.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.ss01</key>
    <string>T_.ss01.glif</string>
    <key>T.ss04</key>
    <string>T_.ss04.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.ss01</key>
    <string>U_.ss01.glif</string>
    <key>U.ss02</key>
    <string>U_.ss02.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>V.ss01</key>
    <string>V_.ss01.glif</string>
    <key>V.ss02</key>
    <string>V_.ss02.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>W.ss01</key>
    <string>W_.ss01.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>X.ss01</key>
    <string>X_.ss01.glif</string>
    <key>X.ss02</key>
    <string>X_.ss02.glif</string>
    <key>X.ss03</key>
    <string>X_.ss03.glif</string>
    <key>X.ss04</key>
    <string>X_.ss04.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y.ss01</key>
    <string>Y_.ss01.glif</string>
    <key>Y.ss02</key>
    <string>Y_.ss02.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Z.ss01</key>
    <string>Z_.ss01.glif</string>
    <key>Z.ss02</key>
    <string>Z_.ss02.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.ss01</key>
    <string>a.ss01.glif</string>
    <key>a.ss02</key>
    <string>a.ss02.glif</string>
    <key>a.ss03</key>
    <string>a.ss03.glif</string>
    <key>a.ss04</key>
    <string>a.ss04.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>asterism</key>
    <string>asterism.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b.ss01</key>
    <string>b.ss01.glif</string>
    <key>b.ss02</key>
    <string>b.ss02.glif</string>
    <key>b.ss03</key>
    <string>b.ss03.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.ss01</key>
    <string>c.ss01.glif</string>
    <key>c.ss02</key>
    <string>c.ss02.glif</string>
    <key>c.ss03</key>
    <string>c.ss03.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.ss01</key>
    <string>d.ss01.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.ss01</key>
    <string>e.ss01.glif</string>
    <key>e.ss02</key>
    <string>e.ss02.glif</string>
    <key>e.ss03</key>
    <string>e.ss03.glif</string>
    <key>e.ss04</key>
    <string>e.ss04.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.ss01</key>
    <string>f.ss01.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.ss01</key>
    <string>g.ss01.glif</string>
    <key>g.ss02</key>
    <string>g.ss02.glif</string>
    <key>g.ss03</key>
    <string>g.ss03.glif</string>
    <key>g.ss04</key>
    <string>g.ss04.glif</string>
    <key>g.ss05</key>
    <string>g.ss05.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hocho</key>
    <string>hocho.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.ss01</key>
    <string>k.ss01.glif</string>
    <key>k.ss02</key>
    <string>k.ss02.glif</string>
    <key>k.ss03</key>
    <string>k.ss03.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.ss01</key>
    <string>l.ss01.glif</string>
    <key>l.ss02</key>
    <string>l.ss02.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.ss01</key>
    <string>m.ss01.glif</string>
    <key>m.ss02</key>
    <string>m.ss02.glif</string>
    <key>m.ss03</key>
    <string>m.ss03.glif</string>
    <key>m.ss04</key>
    <string>m.ss04.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.ss01</key>
    <string>n.ss01.glif</string>
    <key>n.ss02</key>
    <string>n.ss02.glif</string>
    <key>n.ss03</key>
    <string>n.ss03.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.ss01</key>
    <string>o.ss01.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p.ss01</key>
    <string>p.ss01.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>q.ss01</key>
    <string>q.ss01.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.ss01</key>
    <string>r.ss01.glif</string>
    <key>r.ss02</key>
    <string>r.ss02.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.ss01</key>
    <string>seven.ss01.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.ss01</key>
    <string>six.ss01.glif</string>
    <key>skull</key>
    <string>skull.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.ss01</key>
    <string>t.ss01.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.ss01</key>
    <string>two.ss01.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w.ss01</key>
    <string>w.ss01.glif</string>
    <key>wavingBlackFlag_zerowidthjoiner_skullAndCrossbones_VS16</key>
    <string>wavingB_lackF_lag_zerowidthjoiner_skullA_ndC_rossbones_V_S_16.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x.ss01</key>
    <string>x.ss01.glif</string>
    <key>x.ss02</key>
    <string>x.ss02.glif</string>
    <key>x.ss03</key>
    <string>x.ss03.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.ss01</key>
    <string>y.ss01.glif</string>
    <key>y.ss02</key>
    <string>y.ss02.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>z.ss01</key>
    <string>z.ss01.glif</string>
    <key>z.ss02</key>
    <string>z.ss02.glif</string>
    <key>z.ss03</key>
    <string>z.ss03.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.ss01</key>
    <string>zero.ss01.glif</string>
    <key>zero.ss02</key>
    <string>zero.ss02.glif</string>
  </dict>
</plist>
